<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com"
                   matchAll="true"/>
      <serverUrl url="https://route.arcgis.com" matchAll="true" clientId="yourid" clientSecret="yoursecret"/>
      <serverUrl url="https://traffic.arcgis.com" matchAll="true" clientId="yourid" clientSecret="yoursecret"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
