<?xml version="1.0"?>

<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
	-->

<configuration>
	<appSettings>
		<!-- You'll need to supply values for agolUser and agolPassword. -->
		<add key="agolUser" value=""/>
		<add key="agolPassword" value=""/>
		<add key="GeocodeService" value="http://geocode.arcgis.com/arcgis/services/World/GeocodeServer"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>

</configuration>
